
img{
    width: 10rem;
    padding-top: 150px;
    padding-bottom: 50px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 10px;
    margin-bottom: 20px;
}
form button{
    background-color: rgb(55, 89, 240);
    color: white;
    border: 2px solid rgb(49, 49, 49);
    padding: 7px;
    border-radius: 10px;
}
